/* .register-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    background-color: #EDF3F0;
}

.register-form {
    background: #C4DAD2;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    width: 600px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.register-page h1 {
    margin-bottom: 20px;
    color: #16423C;
    font-size: 1.8rem;
}

/* Estilos generales para inputs 
.input-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.input-group label {
    font-size: 0.9rem;
    font-weight: bold;
    color: #16423C;
    margin-bottom: 5px;
}

.input-group input {
    width: 90%;
    padding: 12px;
    border: 1px solid #6A9C89;
    border-radius: 6px;
    transition: border-color 0.3s ease;
    font-size: 1rem;
}

.input-group input:focus {
    border-color: #16423C;
    outline: none;
}

/* Fila para nombre y apellido 
.row {
    display: flex;
    gap: 50px;
    width: 100%;
}

.row .input-group {
    flex: 1;
}

/* Fila para email y contraseña 
.column {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 15px;
}

/* Estilos para el botón 
.register-form button {
    width: 100%;
    padding: 12px;
    background-color: #16423C;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

.register-form button:hover {
    background-color: #6A9C89;
}

.register-form h3 {
    margin-top: 15px;
    font-size: 0.9rem;
    color: #333;
}

.register-form a {
    color: #16423C;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s ease;
}

.register-form a:hover {
    color: #6A9C89;
} */